<%- model_class = ProgramEmployee -%>
<div class="page-header">
  <h1>Program Employees</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:program_location_id) %></th>
      <th><%= model_class.human_attribute_name(:person_id) %></th>
      <th><%= model_class.human_attribute_name(:job_description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @program_employees.each do |program_employee| %>
      <tr>
        <td><%= link_to program_employee.id, program_employee_path(program_employee) %></td>
        <td><%= program_employee.program_location_id %></td>
        <td><%= program_employee.person_id %></td>
        <td><%= program_employee.job_description %></td>
        <td><%=l program_employee.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_program_employee_path(program_employee), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      program_employee_path(program_employee),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_program_employee_path,
            :class => 'btn btn-primary' %>
