<div class="container">
<%= simple_nested_form_for @person, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="accordion" id="accordion">

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#basicStudentInfo">
          Student Information
        </a>
      </div>
      <div style="height: 0;" id="basicStudentInfo" class="accordion-body collapse">
        <div class="accordion-inner">

<div class = "row">
        <div class = "span8">
          <p> First Name, Last Name </p>
          <p> <%= f.text_field :first_name %> <%= f.text_field :last_name %> </p>
        </div>
        <div class = "span3">
          <p> Gender </p>
          <p> <%=f.select :gender , [['Select', nil],['Male',true],['Female',false]] %> </p>
        </div>
</div>

<div class = "row">

        <div class = "span4">
          <p> Date of Birth </p>
          <p> <%= f.text_field :DOB, :placeholder => "YYYY-MM-DD" %> </p>
        </div>

        <div class = "span4">
          <p> Race</p>
          <p> <%= f.select(:race,
                    [['Not Selected', nil],
                     ['African American', 'african american'],
                     ['Asian/Pacific Islander', 'asian'],
                     ['Caucasian', 'caucasian'],
                     ['Hispanic', 'hispanic'],
                     ['Native American', 'native american'],
                     ['Other', 'other']] )  %> </p>
        </div>

        <div class = "span3">
          <p> In Foster Care? </p>
          <p> <%=f.check_box :in_foster_care %> </p>
        </div>
</div>

<div class = "row">
        <div class = "span4">
          <p> Number of Members in Household </p>
          <p> <%= f.text_field :household_number_of_members %> </p>
        </div>

        <div class = "span4">
          <p> School Lunch Program </p>
          <p> <%= f.select :school_lunch_program, [['Not Selected', nil],['Free Lunch','free'],['Reduced Lunch','reduced'], ['Does Not Qualify', 'does not qualify']] %> </p>
        </div>

        <div class = "span3">
          <p> Vegetarian? </p>
          <p> <%= f.check_box :vegetarian %> </p>
        </div>
</div>


<div class = "row">

  <table id ="addr", class = "span10 table table-striped">
      <%= f.fields_for :addresses, :wrapper => false %>
  </table>  

 <%= f.link_to_add "Add A New Address", :addresses, :data => {:target => '#addr'}, :class => 'span4 btn btn-primary'%>
</div>
        </div></div></div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#contactInfo">
          Contact Information
        </a>
      </div>
      <div style="height: 0;" id="contactInfo" class="accordion-body collapse">
        <div class="accordion-inner">

<div class = "row">
        <div class = "span8">
          <p> Email </p>
          <p> <%= f.text_field :email %> </p>
        </div>
</div>
<h3> Phone Numbers </h3>
<div class = "row">

  <table id ="phone_numbers", class = "span12 table table-striped">
      <%= f.fields_for :phone_numbers, :wrapper => false %>
  </table>

 <%= f.link_to_add "Add A New Phone Number", :phone_numbers, :data => {:target => '#phone_numbers'}, :class => 'span4 btn btn-primary'%>
</div>

        </div></div></div>


    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#schoolInfo">
          School Information
        </a>
      </div>
      <div style="height: 0;" id="schoolInfo" class="accordion-body collapse">
        <div class="accordion-inner">

<div class = "row">
        <div class = "span8">
          <p> Current Grade in School </p>
          <p> <%= f.text_field :grade %> </p>
        </div>
</div>
<h3> Schools </h3>
<div class = "row">

  <table id ="schools", class = "span12 table table-striped">
      <%= f.fields_for :person_schools, :wrapper => false %>
  </table>

 <%= f.link_to_add "Add A School", :person_schools, :data => {:target => '#schools'}, :class => 'span4 btn btn-primary'%>

        </div></div></div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#medicalInfo">
          Medical Information
        </a>
      </div>
      <div style="height: 0;" id="medicalInfo" class="accordion-body collapse">
        <div class="accordion-inner">

                  <h3> Allergies </h3>

<div class = "row">

  <table id ="allergies", class = "span12 table table-striped">
      <%= f.fields_for :person_allergies, :wrapper => false %>
  </table>

 <%= f.link_to_add "Add an Allergy", :person_allergies, :data => {:target => '#allergies'}, :class => 'span4 btn btn-primary'%>
</div>

                  <h3> Medications </h3>

<div class = "row">

  <table id ="medications", class = "span12 table table-striped">
      <%= f.fields_for :person_medications, :wrapper => false %>
  </table>

  <%= f.link_to_add "Add a Medication", :person_medications, :data => {:target => '#medications'}, :class => 'span4 btn btn-primary'%>
</div>

                  <h3> Support Services </h3>

<div class = "row">

  <table id ="supports", class = "span12 table table-striped">
      <%= f.fields_for :person_supports, :wrapper => false %>
  </table>

  <%= f.link_to_add "Add Support Service", :person_supports, :data => {:target => '#supports'}, :class => 'span4 btn btn-primary'%>
</div>

        </div></div></div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#emergencycontactInfo">
          Emergency Contacts
        </a>
      </div>
      <div style="height: 0;" id="emergencycontactInfo" class="accordion-body collapse">
        <div class="accordion-inner">

                  <h3> Emergency Contacts </h3>

<div class = "row">

  <table id ="emergency_contacts", class = "span12 table table-striped">
      <%= f.fields_for :emergency_contacts, :wrapper => false %>
  </table>

  <%= f.link_to_add "Add An Emergency Contact", :emergency_contacts, :data => {:target => '#emergency_contacts'}, :class => 'span4 btn btn-primary'%>
</div>

        </div></div></div>        

</div>

</div>

<%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>