<%= f.fields_for :person_allergies do |g| %>
  <tr class = "fields">
    <%= g.hidden_field :person_id, :value => @person.id %>
      <td>
        <p> Allergy </p>
        <%= g.collection_select :allergy_id, Allergy.all.order('name'), :id, :name %>
      </td>

      <td>
        <p> Severity(1-10) </p>
        <%= g.text_field :severity %>
      </td>

      <td>
        <p> Comments </p>
        <%= g.text_area :comments %>
      </td>

      <td>
        <%= g.link_to_remove "Remove" , :class => 'btn btn-danger'%>
      </td>
   </tr>
<% end %>
 