<div class="page-header">
<h1> New <%= @type.titleize %> </h1>
</div>
<% if @type == 'student' %>

	<%= render 'new_student_form' %>
<% elsif @type == 'employee' %>

	<%= render 'new_employee_form' %>
<% elsif @type == 'volunteer' %>

	<%= render 'new_volunteer_form' %>	
<% elsif @type == 'other' %>

	<%= render 'new_other_form' %>	
<% else %>
	<h1> The form could not be loaded </h1>
<% end %>