<%- model_class = ProgramLocation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Program:</strong></dt>
  <dd><%= @program_location.program.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @program_location.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @program_location.address %></dd>
</dl>

<%= render :partial => "program_enrollments" %>

<div class="form-actions">
  <%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Program Enrollment"), new_program_enrollment_path(:id => @program_location.id), :class => 'btn btn-primary', :id => 'Create Program Enrollment' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_program_location_path(@program_location), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              program_location_path(@program_location),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
