<%= form_for(@novanet_course) do |f| %>
  <% if @novanet_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@novanet_course.errors.count, "error") %> prohibited this novanet_course from being saved:</h2>

      <ul>
      <% @novanet_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
