

<div class="page-header"><h1> Programs </h1>
</div>

<div class="bigContainerNav">
<div class = "container">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#show_all" data-toggle="tab">Show All</a></li>
    <li class=""><a href="#search" data-toggle="tab">Search</a></li>
    <li class=""><a href="#add_new" data-toggle="tab">Add New</a></li>
  </ul>

    <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="show_all">
    <div class="accordion" id="accordion">
      <%= render :partial => "show_all" %>
    </div>
  </div>

    <div class="tab-pane fade active in" id="search">
        <!--search here-->
    
    </div>

    <div class="tab-pane fade" id="add_new">
       
        <!-- Probably put Programs and Program Locations and Enrollments? Or can we only make them on specific pages? -->

        <%= link_to "Program", new_program_path, :class => 'btn btn-primary', :id => 'Create Program' %>
        <br>
        <br>
        <%= link_to "Program Location", new_program_location_path, :class => 'btn btn-primary', :id => 'Create Program Location' %>
        <br>
        <br>
        <%= link_to "Program Enrollment", new_program_enrollment_path, :class => 'btn btn-primary', :id => 'Create Program Enrollment' %>
        <br>
        <br>
        <%= link_to "Novanet Course Enrollment", new_enrollment_course_path, :class => 'btn btn-primary', :id => 'Create Novanet Course Enrollment' %>
        <br>
        <br>
        <%= link_to "Novanet Course", new_novanet_course_path, :class => 'btn btn-primary', :id => 'Create Novanet Course' %>
    </div>
  </div>
</div>
</div>