	<ul class="nav nav-tabs nav-stacked">
	  <li class="nav-header">Navigation</li>
	  <li class="active"><%= link_to "Home", '/home#index' %></li>
	  <li><%= link_to "People", people_path %></li>
	  <li><%= link_to "Schools", schools_path %></li>
	  <li><%= link_to "Events", events_path %></li>
	  <li><%= link_to "Programs", programs_path %></li>
	  <li><%= link_to "Roles And Forms?", roles_path %></li>
	  <li><%= link_to "Reports", reports_path %></li>
	</ul>