<h1>New user</h1>

<%= simple_nested_form_for @user do |f| %>
	<p>
		<%= f.label :email, "Email Address" %>
		<%= f.text_field :email %> 
	</p>
	<p>
		<%= f.label :password, "Password" %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation, "Retype password" %>
		<%= f.password_field :password_confirmation %>
	</p>

	<p>
		<%= f.label :kind, "Type of User" %>
		<%= f.select :kind, [['Please Select',nil], ['Admin(Access to everything)','admin'], ['Coordinator', 'coordinator']] %>
	</p>
	
	<p> <strong> Admin: </strong> Has access to everything. </p>
	<p> <strong> Coordinator: </strong> Can modify the events/program locations assigned below. Can edit information of the people enrolled/attending the program/event the coordinator is managing.</p>
	<!-- <p> <strong> Person: </strong> Use this for student accounts. Can modify their own information. Cannot view/edit anything else. </p> -->

	<hr>
	<h1> Coordinator Fields </h1>
	<div class = "row">

  <table id ="user_events", class = "span10 table table-striped">
          <%= f.simple_fields_for :user_events do |user_event_form| %>
          <%= render :partial => "user_event_fields", :locals => { :f => user_event_form } %>
        <% end %> 

  </table>  
        <p>
          <br/><%= f.link_to_add(raw("<i class='icon-plus icon-white'></i> Add Event"), :user_events, :class => 'btn btn-mini btn-primary') %>
        </p>
	</div>


	<%= f.submit %>
<% end %>

<%= link_to 'Back', users_path %>
