<div class="bigContainer">
<%= simple_form_for @program_attendance, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :program_enrollment_id %>
  <%= f.input :program_date_id %>
  <%= f.input :status %>
  <%= f.input :comments %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                program_attendance_path, :class => 'btn' %>
  </div>
<% end %>
</div>
