<div class="bigContainer">
<%= simple_form_for @enrollment_course, :html => { :class => 'form-horizontal' } do |f| %>
<%= select_tag "people", options_from_collection_for_select(Person.all, "id", "name") %>
<p>Novanet Classes:</p>
<p><%= f.collection_select(:novanet_course_id, NovanetCourse.all, :id, :name)%>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                programs_path, :class => 'btn' %>
  </div>
<% end %>
</div>
