<%= f.fields_for :forms do |g| %>
  <tr class = "fields">
    <%= g.hidden_field :role_id, :value => @role.id %>
      <td>
        <p> Form </p>
        <%= g.collection_select :form_id, , :id, :name %>
      </td>

      <td>
        <p> Name </p>
        <%= g.text_field :name %>
      </td>

      <td>
        <p> Description </p>
        <%= g.text_area :description %>
      </td>

      <td>
        <%= g.link_to_remove "Remove" , :class => 'btn btn-danger'%>
      </td>
   </tr>
<% end %>
 