<!DOCTYPE html>
<html>
<head>
  <title>NLA Admin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="span4">
<div class = "row">
	<h4> Logged in as Coordinator </h4>
	<h4>  <%= link_to "Log Out", '/log_out', class: "offset1 btn" %> </h4>
</div>
	<div class= "navigation">
		<%= render :partial => "partials/coordinator_nav" %>
	</div>
</div>

<div class="span12">
	<div class="content">
	<%= yield %>
	</div>
</div>


</body>
</html>